body{
    background-color: aquamarine;
}

@media (max-width: 480px){
    body{
        background-color: green;
    }
}

@media (min-width: 481px) and (max-width: 1200px){
    body{
        background-color: yellow;
    }
}

@media (min-width: 1201px) and (max-width: 1600px){
    body{
        background-color: blueviolet;
    }
}

@media (min-width: 1601px){
    body{
        background-color: white;
    }
}